.service-container{
    margin: 7rem;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    justify-content: center;
   
   
}
.service-content h2{
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 3rem;
}
.service-content p{
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5rem;
    text-align: left;
    letter-spacing: initial;
    white-space: normal;
    font-size: 18px;
    margin-top: 4rem;
}
.video{
    background-color: black;
    width: 380px;
    height: 380px;
}
.our-services{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 10rem;
    justify-content: space-evenly;
    margin-top: 5rem;
    align-content: center;
    align-items: center;
    border-top: 1.4px solid #1f1f1f;
    padding: 1.5rem;
    border-bottom: 1.4px solid #1f1f1f;
    gap: 0.5rem;

}
.our-services a{
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans';
    position: relative;
}
.our-services a::before{
    content: "";
    position: absolute;
    background-color: red;
    width: 20px;
    height: 2px;
    top: 0.4rem;
    left: -1.5rem;

}
.work-view h2{
    margin-top: 15rem;
    margin-bottom: 15rem;
    text-align: center;
    text-decoration: underline;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}
@media only screen and (max-width: 768px) {
    .service-container{
        margin: 5rem;
      
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 3rem;
        justify-content: center;
       
       
    }
    .video{
    
        background-color: black;
        width: 520px;
        height: 350px;
    }
    
    .service-content p{
        font-family: 'Work Sans', sans-serif;
        line-height: 1.5rem;
        text-align: left;
        letter-spacing: initial;
        white-space: normal;
        font-size: 15px;
        margin-top: 1.5rem;
    }
    .our-services{
        display: grid;
        grid-auto-flow: column;
        padding-left: 5rem;
        gap: 0.5rem;
    }
}
@media only screen and (max-width: 426px) {
    .service-container{
        margin: 5rem;
      
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 3rem;
        justify-content: center;
       
       
    }
    .video{
    
        background-color: black;
        width: 300px;
        height: 300px;
    }
    .service-content h2 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2rem;
    }
    
    .service-content p {
        font-family: 'Work Sans', sans-serif;
        line-height: 1rem;
        text-align: left;
        letter-spacing: initial;
        white-space: normal;
        font-size: 10px;
        margin-top: 1.5rem;
    }
    .our-services{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
        padding-left: 2rem;
    
    }
   .our-services a{
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans';
    white-space: nowrap;
    position: relative;
    font-size: 10px;
}
.our-services a::before {
    content: "";
    position: absolute;
    background-color: red;
    width: 11px;
    height: 2px;
    top: 0.3rem;
    left: -0.8rem;
}
.work-view h2 {
    margin-top: 7rem;
    margin-bottom: 7rem;
    text-align: center;
    text-decoration: underline;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}
}
@media only screen and (max-width: 320px){
    .our-services a {
        text-decoration: none;
        color: black;
        font-family: 'Josefin Sans';
        white-space: nowrap;
        position: relative;
        font-size: 7px;
    }  
    .video {
        background-color: black;
        width: 250px;
        height: 250px;
    }
    .our-services a::before {
        content: "";
        position: absolute;
        background-color: red;
        width: 11px;
        height: 1.5px;
        top: 0.2rem;
        left: -0.8rem;
    }
}