.works-container {
    margin: 7rem;
    margin-top: 4rem;
}

.works-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    margin-top: 7rem;
}

.works-sample-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.work-sample>.works {
    width: 100%;
    height: fit-content;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.works>img {
    width: 100%;
}

.works-logo {
    margin-top: 2rem;
    width: 8rem !important;
}

@media only screen and (max-width: 376px) {
    .works-sample-container {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 250px!important;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .works-logo {
        margin-top: 1rem;
        width: 5rem !important;
    }

    .works-title {
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        font-size: 1.5rem;
        white-space: nowrap;
    }
    .works-container {
        margin: 0;
        margin-top: 4rem;
    }
}
@media only screen and (max-width: 426px) {
    .works-sample-container {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 300px;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .works-logo {
        margin-top: 1.3rem;
        width: 5rem !important;
    }

    .works-title {
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        font-size: 1.5rem;
        white-space: nowrap;
    }
    .works-container {
        margin: 0;
        margin-top: 7rem;
    }
}
@media only screen and (max-width: 768px) and (min-width: 425px){
    .works-title{
        font-size: 2rem;
    }
    .works-logo {
        margin-top: 1.3rem;
        width: 4rem !important;
    }
}