* {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    background-color: rgb(31 31 31);
    width: 100%;
    z-index: 9999;

}

.navbar {

    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-top: 1.5rem;
    margin-left: 8rem;
    margin-bottom: 1.2rem;
}

.menus {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    margin-right: 7rem;
}

nav {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;

}


.menus>nav a {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.hamburger {
    margin-top: -10px;
    margin-left: 1rem;
}

.bar1,
.bar2 {
    width: 35px;
    height: 3px;
    background-color: #ffff;
    margin-top: 8px;
    transition: 0.4s;
    border-radius: 8px;
}

.bar3 {
    width: 22px;
    height: 3px;
    background-color: #ffff;
    margin-top: 8px;
    transition: 0.4s;
    float: right;
    border-radius: 8px;

}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    width: 35px;
}

.active {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    /* Fixed position */
    top: 0;
    /* Adjust as needed */
    left: 0;
    /* Adjust as needed */
    width: 100%;
    /* Take full width */
    height: 100%;
    /* Take full height */
    z-index: 9999;
    /* Higher z-index value to appear on top */
}

.active>.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 5rem;
    gap: 3rem;

}

.nav-item a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: white;
}

/* ----------------------------------------------------------------------------------- */
.banner {
    background-color: rgba(0, 0, 0, 0.878);
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-content: stretch;
    margin-top: 0;
    padding-top: 2.7rem;

}

.banner-title {
    margin-left: 8rem;
    padding-top: 10rem !important;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.3rem;
    font-weight: bold;
    color: #ffff;
    line-height: 1.2;
}

.banner-img {
    margin-left: 60%;
    width: 350px;
    height: 200px;
}

/*-------------------------------------------------third Section-------------------------------------------*/
.ourworkbanner {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    font-size: 44px;
}

.scroll-card {

    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    align-items: flex-start;
}

main {
    overflow-x: hidden;
    display: flex;
    margin-left: 7rem;
    margin-top: 2rem;
}

.works {
    width: 450px;
    height: 450px;
    background-color: grey;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.works img {
    width: -webkit-fill-available;
}

.works-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.works-logo {
    width: 8rem !important;

}

/*-------------------------------------------------Second Section-------------------------------------------*/

#second {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    height: 100%;
    width: -webkit-fill-available;
}

.col {
    float: left;
    padding-top: 7rem;
}

#sec-col-1 {
    width: 65%;
}

#sec-col-2 {
    width: 35%;
}

#second::after {
    content: "";
    display: table;
    clear: both;
}

#sec-head {
    font-size: 4rem;
    margin-left: 7rem;
}

span#develop {
    /*color: rgb(174, 23, 23);*/
    background: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 7rem;
    font-weight: bolder;
    font-size: 3rem;
}

#sec-para {
    margin-left: 10rem;
    line-height: 2rem;
    padding-top: 2rem;
}

#sec-para-div {
    overflow-y: scroll;
    width: 48rem;
    height: 17rem;
    scrollbar-color: rgba(255, 0, 0, 1);
    overflow-x: none;
    padding-right: 3rem;
}

#sec-para-div::-webkit-scrollbar {
    width: 2px;


}

#sec-para-div::-webkit-scrollbar-track {
    background-color: rgba(192, 192, 192, 0.781);
    height: 1rem;

}

#sec-para-div::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, 1);
    min-height: 1rem !important;
    height: 10px;

}

#sec-para-div::-webkit-scrollbar:horizontal {
    overflow-x: scroll;
}

/*-------------------------------------------------Second Section-----------------------------------------*/

/*-------------------------------------------------3rd section----------------------------------------*/
#view-all {
    margin-top: 8rem;
}

#viewall-font {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-align: center;
    padding-top: 3rem;

}

#tele {
    text-align: right;

}

#image-tele {
    margin-top: 0;
    width: 25%;
    height: 25%;
}

#talk {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: rgba(255, 0, 0, 1);

}

#let {
    text-align: center;
    font-size: 1.5rem;
    margin-top: -8rem;
}

#broad-hr {
    height: .8rem;
    border: none;
    width: 92%;

    background-color: rgba(255, 0, 0, 1);
}

#broad-hr-div {
    text-align: -webkit-right;
    margin-top: 6.2rem;
}

/*-------------------------------------------------testimonial section-----------------------------------------*/
.testimonialContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;

}

.testi-header {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#testimonial {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;


}

.user-testimonial-div {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    position: relative;
    user-select: none;

}

#testi-user-name {
    font-family: 'Work Sans', sans-serif;
    color: red;
    font-size: 18px;
    font-weight: 500;
}

#user-testi-text {
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    color: #000000d1;
}

.arrow {
    position: absolute;
    cursor: pointer;
    background-color: white;
    padding-left: 8px;
    padding-top: 16px;
    padding-right: 8px;
    padding-bottom: 12px;
    border-style: solid;

    border-radius: 50%;
    margin-top: 11rem;

}

.fa-angle-right {
    margin-right: -61rem;
}

.fa-angle-left {
    margin-left: -61rem;
}

#testi-hr {
    height: 0.8rem;
    border: none;
    width: 92%;
    background-color: rgba(255, 0, 0, 1);
}

/*-------------------------------------------------blog card-----------------------------------------*/
.blogs-sec {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.blogs-header {
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.action-blog {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.blog-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;

}

.blog-card {
    background-image: url(./images/blogbackground1.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 370px;
    height: 370px;
}

.blog-title-div {
    background: #00000096;
    height: inherit;
    display: flex;
    align-items: flex-end;
}

.blog-title {
    color: white;
    padding: 1rem;
    font-family: 'Josefin Sans';
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 2.3rem;
    position: relative;
}

.blog-title::before {
    content: "";
    height: -webkit-fill-available;
    margin-bottom: 2rem;
    width: 0.5rem;
    background-color: red;
    position: absolute;
    left: 0.8rem;
}

.blog-footer {
    margin-top: 5rem;
}

.blog-footer a {
    font-family: 'Work Sans', sans-serif;
    color: red;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/*-------------------------------------------------footer-----------------------------------------*/
#getintouch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

#getin-h {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    color: rgba(255, 0, 0, 1);
    text-align: center;

}

#social {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

#social P {
    padding: 1rem;
}

.contact-form {
    background-color: rgba(0, 0, 0, 0.878);
}

.contact-form-container {
    margin: 2rem;
}

.let-start {
    color: white;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
    font-family: 'Josefin Sans', sans-serif;

}

.let-start span {
    font-weight: 400;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.label {
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.input-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.5rem;
    padding-bottom: 4rem;
}

#name-input {
    background-color: transparent;
    color: #ffff;
    border: none;
    width: 25rem;
    padding-left: 1rem;
    padding-bottom: 2px;
    outline: none;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 2px solid white;
}

#phoneNo-input {
    background-color: transparent;
    color: #ffff;
    border: none;
    width: 25rem;
    padding-left: 1rem;
    padding-bottom: 2px;
    outline: none;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 2px solid white;
}

#phoneNo-input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.message-div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: flex-end;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.message-div textarea {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid #ffff;
    font-family: 'Work Sans', sans-serif;
    color: white;
    resize: none;
    padding-left: 1rem;
    padding-bottom: 2px;
    font-size: 18px;
    overflow: hidden;
    width: 57rem;
}

.btn {
    background-color: transparent;
    color: #ffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
}

footer {
    margin-top: -2rem;
}

.bottom-nav {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    background-color: red;
    width: 100%;

}

.bottom-nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

}

.bottom-nav-links a {
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
}

.foot-bottom {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 6rem;
}

.foot-bottom p {
    font-family: 'Josefin Sans', sans-serif;
    color: red;
}